<html>
<head>
	{% load staticfiles %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="{% static 'ideaWeb/Pictures/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
    <link rel="stylesheet" type="text/css" href="{% static 'ideaWeb/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'ideaWeb/css/jquery.fullPage.css' %}" />
	<script src="{% static 'ideaWeb/js/jquery.easings.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ideaWeb/js/jquery.fullPage.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				controlArrows: false,
				sectionsColor: ['#000000', '#1bbc9b','#7BAABE', 'whitesmoke', '#ccddff'],
				anchors: ['firstPage'],
				menu: '#menu',
				css3: true,
				scrollingSpeed: 1000
			});
		});
	</script>
	<title></title>
</head>
<body>
<div id="fullpage">
	<div class="section" id="section1">
		<div class="slide active" id='introPage'>
			<center ><img id='pageHeader' src="{% static 'ideaWeb/Pictures/Final.png' %}"/>
				<p id ='intro'>Welcome to IdeaWeb, the website where subjects come alive.</p>
				<div width='200px'>
				<ul id='instructions'>
					<li>Search for a subject in the search bar</li>
					<li>Drag the bubbles to create more</li>
					<li>Double click bubbles to read more</li>
					<li>Have Fun!</li>
				</ul>
				</div>
				<a class="btn btn-default" href="#firstPage/1" role="button">Continue</a>

			</center>
			
		</div>
		<div class="slide">
			
			<div id="mynetwork"></div>
			<button id='branch' style="position:absolute;left:100px;top:100px" type="button" class="btn btn-default">
					Branch
			</button>
			<!-- <button class="mainButton" id="branch" style="left:400px"></button> -->
			<div class="col-lg-6" id="searchBar">
			    <div class="input-group">
			      <span class="input-group-btn">
			        <button id="clicker" class="btn btn-default" type="button">Go!</button>
			      </span>
			      <input id="search" type="text" class="form-control" placeholder="Search for...">
			    </div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div>
		<div class="slide" id="page2" width='100%' height='100%'>			
				<iframe frameborder="0" id ="showWiki"></iframe>
				<button id='back' type="button" class="btn btn-default" aria-label="Left Align">
			  		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span >  Back
				</button>
		</div>
	</div>
	<!--<input type="text" id="search" name="search">Search!</input>-->
	<!--<button id="clicker">Submit</button>-->
</div>
</body>
<style type="text/css">
	#introPage::after {
	  content: "";
	  background: url({% static 'ideaWeb/Pictures/welcomeToTheIdeaWeb.png'%});
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  opacity: 0.4;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;   
	}
</style>

<script type="text/javascript" src="{% static 'ideaWeb/js/graphMaker.js' %}"></script>
<script type="text/javascript" src="{% static 'ideaWeb/js/pageHandler.js' %}"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</html>
